/*  Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

/*  Preset CSS  */
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  list-style: none;
}

html {
  font-size: 10pt;
  line-height: 1.4;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit; /* blue colors for links too */
}

body {
  margin: 0;
  background-color: #2a2b2a;
}


/*    Piano   */
.title {
  margin: 70px auto 0;
  text-align: center;
}

.title h1 {
  font-family: 'Cinzel', serif;
  font-size: 3em;
  font-weight: 400;
  color: #fff;
  margin-bottom: 10px;
}

.title p {
  color: #ccc;
}

.piano-wrapper {
  width: 100%;
  min-height: 400px;
  margin-top: 130px;
}

.piano-box {
  margin: 0 auto;
  max-width: 530px;
  min-width: 530px;;
  position: relative;
}

.white-keys{
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.white-keys .key {
  flex: 1;
  background-color: #fff;
  height: 250px;
  margin: 1.5px;
  border-radius: 3px;
  box-shadow: inset 0 -20px 2px #cccccc;
  transition: 0.2s;
}
.black-keys{
  margin: -252px auto;
  display: flex;
}

.black-keys .key {
  flex: 1;
  background-color: #2a2b2a;
  height: 150px;
  max-width: 45px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: inset 0 -20px 2px #1f1f1f;
  transition: 0.2s;
}

.black-keys .key:nth-child(1) {
  margin: 0px 21px 0 4px;
}

.black-keys .key:nth-child(2) {
  margin: 0px 88px 0 0;
}

.black-keys .key:nth-child(3){
  margin: 0px 22px 0 -1px;
}

.black-keys .key:nth-child(4){
  margin: 0 21px 0 0;
}

.white-keys .key:active {
  box-shadow: inset 0 -6px 2px #cccccc;
}

.black-keys .key:active {
  box-shadow: inset 0 -12px 2px -2px #1f1f1f;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100px;
  text-align: center;
  color: #fff;
}
footer a {
  font-weight: bold;
  text-decoration: none;
  color: #ccc;
}

